.upload-imgs .custom-file-upload{
    border:1px solid #3f51b5;
    display: inline-block;
    padding: 0px 12px;
    cursor: pointer;
    background: #3f51b5;
    color: #ffffff;
    text-align: center;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    text-align: center;
    display: block;
    margin-top: 10px;
    line-height: 36px;
  }
  .hidden-input{
    display: none;
  }
  .logo-border-red{
    border-width: 0px;
  }
  .card [class*="card-header-"] .card-icon, .card [class*="card-header-"] .card-text {
      border-radius: 3px;
      padding: 15px;
      margin-top: -40px;
      margin-right: 15px;
      float: left;
    }
    .title-headding .card-icon {
      text-align: center;
      padding: 0 20px !important;
      line-height: 1;
    }
    .title-headding .card-icon h3 {
      margin: 15px 0;
      font-weight: 400;
      color: #fff;
    }
    .custome-icon-i-w .card-header i{
      font-size: 24px;
      margin-right: 20px;
      color: #666;
      font-weight: normal;
      vertical-align: middle;
    }
    .card [class*="card-header-"] {
      margin: 0px 0px 0;
      padding: 0;
      position: relative;
    }
    .card .card-header {
      border-bottom: 1px solid #ddd;
    }
    .card-icon h3 {
      margin: 0;
    }
    .test-table tr td {
      font-size: 14px !important;
      padding: 3px 0;
    }
    .socket{
      max-width: 20px;
      margin-right: 5px;
    }
    .ngel-datat p{
      margin-bottom: 0
    }
    .slimscroll-wrapper-custom.VendorSection-slimscroll-wrapper-custom {
      overflow: hidden;
      height: 300px;
    }
    #vendor.main-content{
      padding:0px 5px 20px !important;
    }
  
    .card.card-default.VendorSectionDetails{
      margin-bottom: 0px !important;
    }
  
    .example-form img.img-thumbnail {
      max-width: -webkit-fill-available;
      min-height: 160px;
      max-width: 100%;
  }

  .w3-light-grey {
    background-color: #3f51b5;
    color: #fff;
    border-radius: 5px 5px 0 0;
}
.w3-light-grey h3 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.location_wrap ul{
  padding:0;
  margin:0;
  list-style: none;
}
.location_wrap ul li.loc_active {
  background: #f1f1f1;
  color: #000;
}
.location_wrap ul li {
  padding: 12px 22px 10px;
  border-bottom: 1px solid #ddd;
  font-size: 15px;
  text-transform: capitalize;
  position: relative;
}
.location_wrap ul li:hover , .location_wrap ul li:focus{
  background: #f1f1f1;
  color: #000;
}


.cdk-global-overlay-wrapper .mat-dialog-content {
  max-width: 750px !important;
  width: auto !important;
}

.mat-dialog-container{
  width: 80% !important;
  margin: 0 auto;
}